# Byte-compiled / optimized / DLL files
.venv
.env
alembic.ini
/server/src/migration/env.py
/server/src/migration/versions
/server/src/migration/__pycache__
.$ER.drawio.bkp
.$ER.drawio.dtmp
/client
flow.drawio
.$flow.drawio.dtmp
.$flow.drawio.bkp