<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet" />
    <title>Todoアプリ{% block title %}{% endblock %}</title>
  </head>
  <body class="flex flex-col min-h-screen bg-gray-100">
    <header class="bg-blue-600 text-white p-4">
      <h1 class="text-4xl m-4">Todoアプリ</h1>
      <nav class="ml-4">
        <ul class="flex space-x-4">
          <li><a class="hover:underline" href="/">ホーム</a></li>
          <li>
            <a class="hover:underline" href="/createTodo">新規Todo作成</a>
          </li>
          <li>
            <a class="hover:underline" href="/createTagName">新規タグ作成</a>
          </li>
          <li>
            <a class="hover:underline" href="/tag?skip=0&limit=100">タグ一覧</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="flex-grow p-4 w-screen">
      {% block content %}{% endblock %}
    </main>
    <footer class="bg-gray-800 text-white text-center p-4">
      <p>&copy; 2024 Todoアプリ 長谷川匠</p>
    </footer>
  </body>
</html>
