{% extends "base.html" %} {% block title %}タグ作成ページ{% endblock %} {% block
content %}
<div class="container mx-auto p-4">
  <h2 class="text-2xl font-bold mb-4">タグ作成</h2>

  <form method="POST" action="/createTag" enctype="application/json">
    <ul>
      <li>
        <label for="description" class="block">タグ名</label>
        <textarea
          id="description"
          name="description"
          class="border border-gray-300 p-2 w-full"></textarea>
      </li>
      <li>
        <button
          type="submit"
          class="bg-blue-600 text-white p-2 mt-4 hover:bg-blue-700">
          作成
        </button>
      </li>
    </ul>
  </form>
</div>
{% endblock %}
