{% extends "base.html" %} {% block title %}タグ作成ページ{% endblock %} {% block
content %}
<div class="container mx-auto p-4">
  <h2 class="text-2xl font-bold mb-4">タグ作成</h2>

  <form id="createTag" method="POST">
    <ul>
      <li class="mb-2">
        <label for="tagName" class="block">タグ名</label>
        <input
          type="text"
          id="tagName"
          name="tagName"
          class="border border-gray-300 p-2 w-full" />
      </li>
      <li>
        <button
          type="submit"
          class="bg-blue-600 text-white p-2 mt-4 hover:bg-blue-700 rounded-xl">
          作成
        </button>
      </li>
    </ul>
  </form>
  <script type="module" src="/static/javascript/createTag.js"></script>
  {% endblock %}
</div>
