{% extends "base.html" %} {% block title %}Todo変更{% endblock %} {% block
content %}
<div class="container mx-auto p-4">
  <h2 class="text-2xl font-bold mb-4">Todo内容変更</h2>

  <form id="changeTodos">
    <ul>
      <li class="mb-2">
        <label for="taskName" class="block">タイトル</label>
        <input
          type="text"
          id="taskName"
          name="taskName"
          class="border border-gray-300 p-2 w-full" />
      </li>
      <li>
        <label for="description" class="block">詳細</label>
        <textarea
          id="description"
          name="description"
          class="border border-gray-300 p-2 w-full"></textarea>
      </li>
      <li>
        <label for="tag" class="block">タグ</label>
        <select id="tag" name="tag" class="border border-gray-300 p-2 w-full">
          {% for tag in tags %}
          <option value="{{tag.tagID}}">{{tag.tagName}}</option>
          {% endfor %}
        </select>
      </li>
      <li>
        <button
          type="submit"
          class="bg-blue-600 text-white p-2 mt-4 hover:bg-blue-700">
          作成
        </button>
      </li>
    </ul>
  </form>
</div>
<script type="module" src="/static/javascript/createTodo.js"></script>
{% endblock %}
