{% extends "base.html" %} {% block title %}タグ一覧ページ{% endblock %} {% block
content %}
<div class="w-5/6 p-4" style="margin: 0 auto">
  <h2 class="text-2xl font-bold mb-4">タグ一覧</h2>
  {% if tags %}
  <ul class="list-disc pl-5 flex flex-wrap">
    {% for tag in tags | sort(attribute='created_at', reverse=true) %}
    <div class="bg-green-300 p-4 mt-4 mr-4 rounded-2xl w-96">
      <li class="mb-2 list-none">
        <div>
          <h3>
            <a class="text-blue-600 text-2xl" href="/tag/{{ tag.tagID }}"
              >{{ tag.tagName }}</a
            >
          </h3>
          <p class="text-gray-600">作成：{{ tag.created_at }}</p>
          <p class="text-gray-600">更新：{{ tag.updated_at }}</p>
        </div>
      </li>
    </div>
    {% endfor %}
  </ul>
</div>
  {% else %}
  <p class="text-gray-600">Todoリストはありません</p>
  {% endif %}
</div>
{% endblock %}
