{% extends "base.html" %} {% block title %}タグ一覧ページ{% endblock %} {% block
content %}
<div class="w-5/6 p-4" style="margin: 0 auto">
  <h2 class="text-2xl font-bold mb-4">タグ一覧</h2>
  {% if tags %}
  <ul class="list-disc pl-5 flex flex-wrap">
    {% for tag in tags %}
    <div class="bg-red-300 p-4 mt-4 mr-4 rounded-2xl">
      <li class="mb-2 list-none">
        <div>
          <h3>
            <a class="text-blue-600" href="/todo/{{ tag.tagID }}"
              >{{ tag.tagName }}</a
            ><s></s>
          </h3>
          <p class="text-gray-600">作成：{{ tag.created_at }}</p>
          <p class="text-gray-600">更新：{{ tag.updated_at }}</p>
        </div>

        <div>
          <button class="bg-blue-600 text-white p-2 mt-4 hover:bg-blue-700">
            <a href="/createTodo">変更</a>
          </button>
          <button class="bg-blue-600 text-white p-2 mt-4 hover:bg-blue-700">
            削除
          </button>
          <button class="bg-blue-600 text-white p-2 mt-4 hover:bg-blue-700">
            完了
          </button>
        </div>
      </li>
    </div>
    {% endfor %}
  </ul>
  {% else %}
  <p class="text-gray-600">Todoリストはありません</p>
  {% endif %}
</div>
{% endblock %}
